
Take the example I demonstrated in the previous lecture (NBA attendance), write your own program to read the data, store in a list, strip the white space, and display your results.

Submit your program code and the results you got in a text file.

The data file NBA-Attendance-1989.txt is attached here.

In [10]:
#read data

nbaData = open("NBA-Attendance-1989.txt", "r")

# init blank list
teamList = []

In [11]:



#go through each line of code and strip each line, then strip each word out of the line, append word to list
for line in nbaData:
    textLine = line.strip()

    item = textLine.split()

    teamList.append(item)

print(len(teamList))

27

In [12]:
# print out each line item in the list
for i in teamList:
    print(i)

['Atlanta', '13993', '20.06']
['Boston', '14916', '22.54']
['Charlotte', '23901', '17']
['Chicago', '18404', '21.98']
['Cleveland', '16969', '19.63']
['Dallas', '16868', '17.05']
['Denver', '12668', '17.4']
['Detroit', '21454', '24.42']
['Golden_State', '15025', '17.04']
['Houston', '15846', '17.56']
['Indiana', '12885', '13.77']
['LA_Clippers', '11869', '21.95']
['LA_Lakers', '17378', '29.18']
['Miami', '15008', '17.6']
['Milwaukee', '16088', '14.08']
['Minnesota', '26160', '10.92']
['New_Jersey', '12160', '13.31']
['New_York', '17815', '22.7']
['Orlando', '15606', '20.47']
['Philadelphia', '14017', '19.04']
['Phoenix', '14114', '16.59']
['Portland', '12884', '22.19']
['Sacramento', '17014', '16.96']
['San_Antonio', '14722', '16.79']
['Seattle', '12244', '18.11']
['Utah', '12616', '18.41']
['Washington', '11565', '14.55']

In [1]:
nbaData.close()

NameError: name 'nbaData' is not defined