In [1]:
import pandas as pd
import numpy as np


persondict = {'person':['Bob', 'Alice', 'Steve'], 'age':[32,24,64], 'weight':[128,86,95]}

In [2]:
#make pandas
table =  pd.DataFrame(persondict, columns=['person', 'age', 'weight'])

table

  person  age  weight
0    Bob   32     128
1  Alice   24      86
2  Steve   64      95

In [3]:
table = table.set_index('person')
table

        age  weight
person
Bob      32     128
Alice    24      86
Steve    64      95

In [4]:
table.shape

(3, 2)

In [5]:
table.dtypes

age       int64
weight    int64
dtype: object

In [6]:
result = table.stack()

result

person
Bob     age        32
        weight    128
Alice   age        24
        weight     86
Steve   age        64
        weight     95
dtype: int64

In [7]:
result.shape

(6,)

In [8]:
result.index

MultiIndex([(  'Bob',    'age'),
            (  'Bob', 'weight'),
            ('Alice',    'age'),
            ('Alice', 'weight'),
            ('Steve',    'age'),
            ('Steve', 'weight')],
           names=['person', None])

In [9]:
persontall = result.reset_index()
persontall

In [11]:


persontall.columns=['person', 'attribute', 'value']

persontall

  person attribute  value
0    Bob       age     32
1    Bob    weight    128
2  Alice       age     24
3  Alice    weight     86
4  Steve       age     64
5  Steve    weight     95

In [12]:
newresult = result.unstack()

newresult

        age  weight
person
Bob      32     128
Alice    24      86
Steve    64      95

In [13]:
pivotTable = persontall.pivot('person', 'attribute', 'value')

pivotTable

attribute  age  weight
person
Alice       24      86
Bob         32     128
Steve       64      95